
<script>


</script>


<div class="jumbotron ">
    <h1>Veuillez patienter ...</h1>
    <p>Votre partie va bientot démarrer, soyez prêts !</p>
    <p>Cet écran se mettra à jour lorsque le jeu commencera.</p>
</div>