<% include ../../partials/header.ejs %>
<% include ./header.ejs %>


<hr/>
<div class="row">

    <div class="jumbotron ">
        <h1>Veuillez patienter ...</h1>
        <p>Votre partie est encore en cours de préparation.</p>
        <p>Cet écran se mettra à jour lorsque le jeu commencera.</p>
    </div>

</div>
<% include ../../partials/footer.ejs %>


